.js-filter-wrapper {
    display: none;
}
span.new {
    color: red;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: -8px;
    margin-left: 3px;
}

div#views-bootstrap-lac-co-volunteers-block-1 .card {
    min-height: 255px;
}

.user-picture img,
div#views-bootstrap-lac-co-volunteers-block-1 .card img {
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 3px;
}

div#views-bootstrap-lac-co-volunteers-block-1 .card img:hover {
    opacity: .80;
    zoom: 1.04;
}

.navbar-brand img {
    border-radius: 44px;
    border: 1px solid #ccc;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
}

.input-error {
    outline: 1px solid red;
}

//input#edit-field-mobile-number-0-mobile {
//  border-bottom: 1px dashed;
//  border-radius: 0;
//}
.mobile-number-field label.js-form-required.form-required {
    position: relative;
    top: -2px;
}

div#edit-field-place-wrapper .form-item {
    display: flex;
    flex-direction: column;
}

#edit-field-place-wrapper .form-item {
    display: flex;
    flex-direction: column;
}

form.node-membership-form.node-form {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #1b4e9b29;
    color: #005d8f;
    box-shadow: 0px 0px 2px 2px #eee;
    border-radius: 5px;
}

form#node-membership-form .select-wrapper {
    margin: 0;
}

img.rounded-circle.small {
    width: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
}

form#node-membership-form .select-wrapper label {
    margin-top: 15px;
}

.membership-bar {
    border-bottom: 5px solid #FECC00;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #1B4E9B !important;
}

.type-membership h1 {
    display: none;
}

.type-membership .block-system .node {
    background: var(--bs-white);
    max-width: 750px;
    margin: 0 auto;
    border: 1px solid #eee;
    margin-top: 25px;
}

tr.table-row.odd {
    background: #f3f3f3;
}

div#edit-field-date-of-birth-0-value select {
    zoom: 0.85;
}

.path-admin .region-sidebar-first .form-item {
    width: 100%;
}

div#block-languageswitcher {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin: 25px;
}

.error {
    color: red;
}

div#block-languageswitcher ul.nav {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
}

fieldset#state-wrapper-field_place-0 legend {
    display: none !important;
}

fieldset#state-wrapper-field_place-0 {
    border: none;
    padding: 0;
    margin: 0;
}

fieldset#state-wrapper-field_place-0 .form-item {
    width: 100%;
    margin-top: 0;
}

fieldset#state-wrapper-field_place-0 .fieldset-wrapper {
    padding: 0;
}

span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

span.select2-selection.select2-selection--single {
    height: 30px;
}

.member-phone .form-item {
    margin-bottom: 0;
}

input#edit-submit-verify-membership--2 {
    position: relative;
    left: -46px;
    top: 18px;
    padding: 10px;
    background: #eee;
    border-radius: 3px;
}

div#block-mobile {
    form#views-exposed-form-verify-membership-mobile-no {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        max-width: 650px;
        margin: 0 auto;
        position: relative;
    }
    .form-item-mobile {
        /* width: 100%; */
    }
    .form--inline.clearfix {
        width: 100%;
    }
    input#edit-mobile--2 {
        width: 100%;
    }
    .form-item-mobile {
        width: 92%;
        margin-bottom: 0;
    }
}

.member-verify {
    text-align: center;
    border: 1px solid #ccc;
    margin: 30px auto;
    max-width: 350px;
    text-transform: capitalize;
    border-radius: 5px;
    h5 {
        text-transform: capitalize;
    }
}

.lang-ml .block ul.nav-pills li {
    a.nav-link.ml {
        background: #1B4E9B !important;
        color: #fff;
    }
}

.lang-en .block ul.nav-pills li {
    a.nav-link.en {
        background: #1B4E9B !important;
        color: #fff;
    }
}

.card-footer.status-Pending,
.card-footer.status-Rejected,
.card-footer.status-Reject {
    display: none;
}

.text-bold {
    font-weight: bold;
}

.nav-item .btn.text-bold.nav-link {
    text-transform: uppercase;
}

.mobile-number-field .description {
    font-size: 0.70em !important;
}

.user-logged-in input#edit-field-mobile-number-0-mobile {
    outline: 1px solid #ccc;
}

body.anonymous div#edit-field-mobile-number-0 {
    padding: 2px;
    padding-left: 12px;
}

form.content-moderation-entity-moderation-form .form-item-current {
    color: red;
    background: #f1f5ff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #eee;
    label {
        color: initial;
        font-weight: initial;
    }
}

.block-views h2 {
    font-size: 20px;
}

.path-user div#block-aap-join-content,
form#node-local-body-mapping-form,
form#node-funds-and-sponsorships-form,
form#node-house-logs-form,
.bg-white-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 3px;
}

div#block-welcomeuser {
    width: 100%;
    text-align: center;
    color: #000000;
    padding: 5px;
    background: #FECC00;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-weight: bold;
    z-index: 1030;
}

.user-logged-in nav.membership-bar {
    margin-top: 32px;
}

span#select2-edit-field-area-of-interest-container {
    padding-left: 40px;
}

div#edit-pass {
    margin-bottom: 0;
}

.type-events .region-content {
    background: #fff;
    padding: 20px;
    border: 1px solid #eee;
    margin: 20px auto;
}

.csv-feed .feed-icon {
    background-image: url(../images/icons/download.png) !important;
    background-size: 145px 45px;
    width: 150px;
    height: 40px;
}

.toolbar-fixed header#header,
.toolbar-fixed .sidebar {
    margin-top: 80px;
    z-index: 1;
}

.field--name-field-profile-picture img {
    border-radius: 50%!important;
}

.node--unpublished {
    padding: 10px;
}

.node--view-mode-membership-card {
    background: url(/themes/custom/aap_admin/assets/img/membership-card.png);
    text-align: center;
    position: relative;
    background-size: cover;
    min-height: 500px;
    background-position: center;
    .field {
        position: relative;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: #1B4E9B;
        top: 235px;
    }
    .field--name-node-title {
        p {
            margin: 0;
        }
    }
}

section.field--name-field-participants .layout--onecol {
    float: left;
    padding: 3px;
    font-size: 14px;
    margin: 10px auto;
    border-radius: 5px;
}

section.field--name-field-participants .layout--onecol article {
    text-align: center;
}

section.field--name-field-participants .layout--onecol .field--name-user-picture img {
    border: 1px solid #ccc;
    margin: 10px 10px 0 10px;
    border-radius: 5px;
}

section.field--name-field-participants h2 {
    border-bottom: 1px solid #fecc02;
    padding-bottom: 5px;
    color: #1b4e9b;
}

section.field--name-field-participants form,
section.field--name-field-participants h2 {
    clear: both;
    margin-top: 20px;
    font-size: 20px;
}

section.field--name-field-participants .layout--onecol img {
    border-radius: 5px;
}

section.field--name-field-participants form {
    background: #dfecff;
    border: 1px solid #eee;
    padding: 20px;
}

.views-field.views-field-field-event-type {
    background: #eee;
    font-size: 13px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.view-past-events .views-field-title {
    font-size: 18px;
}

.field--name-field-profile-picture img {
    width: 100px;
    height: 100px;
    border: 2px solid #fecc02;
}
