.region-sidebar-first h5,
.block h2,
.block-facets h2 {
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 3px;
}
.block a
.block-facets a {
    text-decoration:none;
}
li.facet-item {
    list-style: none;
}
.facets-widget-links ul {
    padding: 5px 10px;
}
.block,
.block-facets {
    margin-top:20px;
    h2 {
        font-size: 20px;
        font-weight: 200;
    }
    li.facet-item {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 0 10px 0 0;
        :hover {
            background:#eee;
        }
        .facets-checkbox {
            margin-right:6px;
            position: relative;
            // top: 7px;
        }
        label {
            font-weight: 300;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
    a.facets-soft-limit-link {
        font-weight: 300;
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.facets-widget-checkbox {
    ul {padding-left: 15px;}
}
