#user-register-form fieldset#state-wrapper-field_place-0 label {
  position: relative;
  top: 0px;
  left: 0;
}
a.btn-social .icon-holder, .modal-auth .btn-social .icon-holder {
    position: absolute;
    left: 16px;
    top: 12px;
    min-width: 24px;
    display: inline-block;
}
a.btn-social .icon-holder, .btn-social .icon-holder {
    padding-right: 10px;
    border-right: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    text-align: left;
    font-size: 16px;
    padding-top: 2px;
}
.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
a.btn-google:hover, a.btn-google:active, a.btn-google:focus, .btn-google:hover, .btn-google:active, .btn-google:focus {
    background: #c83227;
}
a.btn-facebook:hover, a.btn-facebook:active, a.btn-facebook:focus, .btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus {
    background: #4267B2;
}
a.btn-linkedin:hover, a.btn-linkedin:active, a.btn-linkedin:focus, .btn-linkedin:hover, .btn-linkedin:active, .btn-linkedin:focus {
    background: #0077b5;
}
.divider {
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-bottom: 30px;
}
.or-text {
    position: relative;
    position: absolute;
    top: -10px;
    padding: 0 10px;
    background: #fff;
    display: inline-block;
    left: 50%;
    margin-left: -21px;
    color: #999ca4;
    font-size: 14px;
}
.btn-facebook {
    background: #4267B2;
    color: #fff;
}
.btn-facebook:hover {
    background: #c83227;
    color: #fff;
}
.btn-google {
    background: #d73d32;
    color: #fff;
}
.btn-google:hover {
    background: #c83227;
    color: #fff;
}

.btn-linkedin {
    background: #0077b5;
    color: #fff;
}
.btn-linkedin:hover {
    background: #026294;
    color: #fff;
}
#user-login-form label,
#user-pass label,
#user-register-form label {
    position: absolute;
    left: 10px;
    background: #fff;
    top: 7px;
    color:#535353;
    z-index: 2;
}
#user-register-form {
  input {
    padding-left: 40px;
  }
  
}
.mobile-number-field .form-type-textfield input {
    border: 0;
    width: 240px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.user-login-form, form#user-pass {
  .form-text,
  .form-select,
  input#edit-pass,
  input#edit-name,
  input#edit-mail,
  input#user-pass {
    padding-left: 50px;
  }
}
#user-login-form .form-item,
#user-pass .form-item,
#user-register-form .form-item {
    position: relative;
}

form#user-login-form, form#user-pass, .user-register-form.user-form{
    max-width: 450px;
    margin: 0 auto;
    background: #fff;
    padding: 25px 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    .btn {
        width: 100%;
    }
}

i.bi.bi-linkedin, i.bi.bi-facebook, i.bi.bi-google {
    float: left;
}
h1.display-4.text-center.page-title {
    font-size: 25px;
}

.form-type-cshs .select-wrapper {
    margin: 10px 0 20px;
    position: relative;
    width:100%;
}

.form-type-cshs .select-wrapper label {
    top: -11px !important;
    background: #fff !important;
    padding: 0px 5px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.form-type-cshs .select-wrapper select {
    padding: 7px;
}

div#edit-field-mobile-number-0 {
    display: block;
    width: 100%;
    padding: 0.55rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 0;
}
div#edit-field-mobile-number-0 label {
  padding-right: 10px;
}
.mobile-number-field .country-select {
    border-bottom: 0;
}
