@media (max-width: 600px) {
  div#block-mobile-no-verify .form--inline.clearfix {
    width: 100%;
    position: relative;
  }
  .path-user input#edit-submit {
    width: 100%;
  }
  div#block-mobile-no-verify .form-item-mobile {
    margin: 30px auto;
    width: 100%;
  }
  input#edit-submit-verify-membership--2 {
    position: absolute;
    right: 3px !important;
    top: 16px;
    left: auto;
    padding: 10px;
    background: #eee;
    border-radius: 3px;
  }
  div#block-mobile .form-item-mobile {
    width: 100% !important;
  }
  form#user-login-form, form#user-pass, .user-register-form.user-form {
    padding: 25px 0px;
    border: none;
    .btn {
        width: 100%;
    }
  }
}
@media (min-width: 600px) {
  hr {
    max-width: 450px;
    text-align: center;
    margin: 1rem auto;
  }
}
