.navbar-nav .nav-link.dropdown-toggle, .navbar-nav .media-library-view--widget .view-header a.dropdown-toggle, .media-library-view--widget .view-header .navbar-nav a.dropdown-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.region-sidebar-first nav ul li:hover {
    background: #ecf0ff;
}