#sidebar {
    a.nav-link:before {
        content: '\F135';
        font-family: 'bootstrap-icons';
        position: relative;
        top: 2px;
    }
    .nav-link.collapsed {
        color: #012970;
        background: #fff;
    }
}

