// Theme variables.
$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;
$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;
$region-padding: 0 .5rem !default;
$footer-padding: 2rem 0 !default;
$nav-tabs-link-active-bg-sm: #dee2e6 !default;
$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;
$table-striped-bg: #f9f9f9 !default;
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #1B4E9B !important;
}

$primary-color : #1B4E9B;