<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center bg-primary text-white membership-bar">
   <div class="d-flex align-items-center justify-content-between">
      <a href="{{ front_page }}" class="logo d-flex align-items-center">
      <img src="{{ relative_logo_url }}" alt="{{ site_name }}" class="rounded-circle border-white bg-white border">
      <span class="d-none text-white d-lg-block">{{ site_name }}</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
   </div>
   <!-- End Logo -->
   {% if header_date_time %}
       <div class="search-bar">
          <div class="search-form d-flex align-items-center">
             {{ 'now'|date('d-M-Y h:i A') }}
          </div>
       </div>
   {% endif %}
   <!-- End Search Bar -->
   <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
         <li class="nav-item dropdown pe-3">
            {% if logged_in %}
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ profile_picture }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Welcome!</span>
            </a>
            <!-- End Profile Iamge Icon -->
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
               <li class="dropdown-header">
                  <h6>Welcome User</h6>
                  <span>{{ user_email }}</span>
               </li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <li>
                  <a class="dropdown-item d-flex align-items-center" href="/user">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                  </a>
               </li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <li>
                  <a class="dropdown-item d-flex align-items-center" href="/user/{{ uid }}/edit">
                  <i class="bi bi-pencil-square"></i>
                  <span>Edit Profile</span>
                  </a>
               </li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <li>
                  <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                  </a>
               </li>
            </ul>
            <!-- End Profile Dropdown Items -->
            {% else %}
            <a class="p-1 collapsed text-white sign-in" href="/user/login">
            <i class="bi bi-box-arrow-in-right"></i>
            <span> Login</span>
            </a>

            {# Check if the registration setting is not 'admin_only' #}
            {% if registration_setting != 'admin_only' %}
               <span>/</span>
               <a class="p-1 collapsed text-white signup" href="/user/register">
               <i class="bi bi-box-arrow-in-right"></i>
               <span> Sign up</span>
               </a>
            {% endif %}
            
            <!-- End Login Page Nav -->
            {% endif %}
         </li>
      </ul>
   </nav>
   <!-- End Icons Navigation -->
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
   {% if page.sidebar_first %}
   <div class="{{ sidebar_first_classes }}">
      {{ page.sidebar_first }}
   </div>
   {% endif %}
</aside>
<!-- End Sidebar-->
<main id="main" class="main">
   <div class="pagetitle">
      {% if page.breadcrumb %}
      {{ page.breadcrumb }}
      {% endif %}
   </div>
   <!-- End Page Title -->
   <section class="section">
      <div class="row">
         <a id="main-content" tabindex="-1"></a>
         {# link is in html.html.twig #}
         <div class="order-1 order-lg-2 mb-5 {{ content_classes }}">
            {{ page.content }}
         </div>
      </div>
      {% if not is_restricted_path %}
      {% if page.offcanvas_right %}
      <button class="btn btn-primary sticky-bottom col-12" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">{{ off_canvas_btn_text }}</button>
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
         <div class="offcanvas-header bg-primary text-white">
            <h5 class="offcanvas-title" id="offcanvasResponsiveLabel"> {{ off_canvas_btn_text }}</h5>
            <button type="button" class="btn-close text-white float-end bg-white " data-bs-dismiss="offcanvas" aria-label="Close">  </button>
         </div>
         <div class="offcanvas-body">
            {{ page.offcanvas_right }}
         </div>
         <div class="offcanvas-footer bg-secondary text-center text-white">
            <button type="button" class="p-1 btn text-white text-center bold" data-bs-dismiss="offcanvas" aria-label="Close"> <i class="bi bi-x-circle"></i> Close </button>
         </div>
      </div>
      {% endif %}
      {% endif %}
   </section>
</main>
<!-- End #main -->
<!-- ======= Footer ======= -->
{% if page.footer %}
<footer id="footer" class="mt-auto footer {{ footer_classes }}">
   <div class="{{ b5_top_container }}">
      {{ page.footer }}
   </div>
</footer>
{% endif %}
<!-- End Footer -->
